@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background-image: url("https://i.pinimg.com/originals/08/a7/ab/08a7ab130881d2fb60585dc37744e04b.jpg");
  min-height: 100vh;
  display: flex;
  /* Full height */
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.logo{
  width: 7%;
  height: 8%;
  float: left;
  margin-right:10px;
}
.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-title {
  float: left;
  font-size: 50px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px;
  letter-spacing: 5px;
  
}

/*.site-title:hover {
  color: #fff;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
.img-wrapper{
  color: gold;
  justify-content: center;
	font-family: sans-serif;
	text-align:left;
	line-height:50px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.wood-text {
  background: url('https://previews.123rf.com/images/naiaekky/naiaekky1412/naiaekky141200013/34891775-golden-wood-texture.jpg');
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  font-family: 'Rancho', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
 
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: -10%;
}

.auth-inner {
  width: 510px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
 
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}