@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


* {
  box-sizing: border-box;
}

/*Card*/
body #root {
  height: 100%;
}
body #root .page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  perspective: 1000px;
}
body #root .page-container .card-container {
  height: 350px;
  margin: 0;
  padding: 0;
  top: 20px;
  width: 330px;
  margin-left: 35%;
  margin-right: 35%;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
}
body #root .page-container .card-container.flipped .front {
  transform: rotateY(180deg);
}
body #root .page-container .card-container.flipped .back {
  transform: rotateY(0deg);
}
body #root .page-container .card-container .front,
body #root .page-container .card-container .back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  background: #f8f6ea;
  box-shadow: 10px 10px 5px #5f4d63;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}
body #root .page-container .card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  /* front tile styles go here! */
}
body #root .page-container .card-container .back {
  background: #f8f6ea;
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 20px;
  /* back tile styles go here! */
}
body #root .page-container .card-container .image-container {
  position: relative;
}
body #root .page-container .card-container .image-container .card-image {
  width: 100%;
  border-radius: 10px;
}
body #root .page-container .card-container .image-container .title {
  font-size: 34px;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 10px;
  bottom: 0;
  left: 0;
  color: #f8f6ea;
}
body #root .page-container .card-container .main-area {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
body #root .page-container .card-container .main-area .blog-post {
  height: 100%;
}
body #root .page-container .card-container .main-area .blog-post .date {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}
body #root .page-container .card-container .main-area .blog-post .read-more {
  font-size: 20px;
  position: relative;
  bottom: 0px;
  text-align: right;
}
body #root .page-container .card-container .main-area .blog-post .blog-content {
  height: 90%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #root footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
/*Card End*/

.bodyC{
  background-image: url("https://i.pinimg.com/originals/08/a7/ab/08a7ab130881d2fb60585dc37744e04b.jpg");
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.logo{
  width: 7%;
  height: 8%;
  float: left;
  margin-right:10px;
}
.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-title {
  float: left;
  font-size: 50px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px;
  letter-spacing: 5px;
  
}

/*.site-title:hover {
  color: #fff;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
.img-wrapper{
  color: gold;
  justify-content: center;
	font-family: sans-serif;
	text-align:left;
	line-height:50px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.wood-text {
  background: url('https://previews.123rf.com/images/naiaekky/naiaekky1412/naiaekky141200013/34891775-golden-wood-texture.jpg');
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  font-family: 'Rancho', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
 
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: -10%;
  
}

.auth-inner {
  width: 520px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}